.window {
	background-color: rgba(black, 0.7);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&__popup {
		background-color: #fff;
		padding: 20px;
		box-shadow: 0 0 5px black;
	}
	&__title {
		font-weight: 600px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 23px;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 20px;
	}
	&__switch{
		display: inline-block;
		cursor: pointer;
		margin-top: 15px;
		font-weight: 600;
		font-style: 17px;
		line-height: 1.2;
		position: relative;
		margin-left: 50%;
		transform: translateX(-50%);
		&:before{
			content: '';
			left: 0;
			transition: 0.7s;
			width: 100%;
			height: 1px;
			background-color: black;
			position: absolute;
			bottom: 0;
		}
		&:hover{
			color: red;
			&::before{
				background-color: red;
				width: 0;
			}
		}
	}
}
.form {
	&__error {
		color: red;
	}
	&__input {
		padding: 10px 20px;
		display: block;
		width: 100%;
		margin: 20px 0;
		border: 1px solid rgba(black, 0.4);
		&::placeholder{
			transition: 0.7s;
		}
		&:focus{
			&::placeholder{
				transform: translateX(-1000px);
			}
		}
	}
	&__buttons {
		column-gap: 20px;
		display: flex;
	}
	&__btn {
		border: 1px solid black;
		padding: 10px;
		background-color: red;
		color: #fff;
		position: relative;
		overflow: hidden;
		min-width: 100px;
		&::before {
			content: '';
			top: 0;
			left: 500px;
			width: 120%;
			height: 100%;
			background-color: green;
			position: absolute;
			transform: skewX(40deg);
			transition: 0.7s;
		}
		&:hover {
			&::before{
				left: 0;
			}
		}
		span {
			position: relative;
			z-index: 5;
		}
	}
}
