.home-users {
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 40px;
		background-color: beige;
		border-bottom: 1px solid rgba(black, 0.4);
		column-gap: 10px;
	}
	&__inform{
		font-size: 16px;
		width: 300px;
		padding: 0 10px;
	}
	&__name{
		transition: 0.7s;
		cursor: pointer;
		font-weight: 600;
		font-size: 18px;
		width: 300px;
		&:hover{
			color: red;
		}
	}
}
.home-sort {
	padding: 0px 40px;
	display: flex;
	column-gap: 10px;
	&__item{
		padding: 10px ;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.2;
		width: 300px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor:pointer;
		&:hover{
			color:red;
			transition:0.7s;
		}
		img{transition: 0.7s;}
		&:last-child{
			&:hover{
				color:black;
			}
		}
	}
}
.home-sort__item-active{
	border: 1px solid black;
	color: red;
	img{
	transform: rotate(180deg);}
}