.header{
	padding: 10px 40px;
	background-color: black;
}
.header-user{
	display: flex;
	justify-content: end;
	column-gap: 20px;
	align-items: center;
	&__name{
		line-height: 1.2;
		font-size: 17px;
		color: #fff;
	}
	&__btn{
		padding: 5px 7px;
		background-color: red;
		box-shadow: 0 0 10px;
		color: #fff;
		transition: 0.7s;
		&:hover{
			background-color: green;
		}
	}
}